.hide {
display:none;
}
.label {
display:block;
}
body {
  font-family: 'Courier New', monospace;
}
#logoutput {
  display: inline-grid;
  position: absolute;
}
button.clicked#mine::after {
  content: ">>>>> mined";
  position: absolute;
}
button.clicked#lode::after {
  content: ">>>>> loded";
  position: absolute;
}
button.clicked#log::after {
  content: ">>>>> logged";
  position: absolute;
}
main {
  float: left;
  margin-right: inherit;
}
main i {
   font-size: 12px;
}
h1 {

}
iframe {
  width: 50%;
  float: left;
}
#consentBox {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#consentBox.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
    display: none;
}

::selection {
    color: #fff;
    background: #229a0f;
}

#consentContent p {
    color: #858585;
    margin: 10px 0 20px 0;
}

#consentContent .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.consentButton,
.rejectButton {
    padding: 12px 30px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.consentButton {
    background: #858585;
    margin-right: 10px;
}

.rejectButton {
    color: #111211;
    background: transparent;
    border: 2px solid #858585;
    text-decoration: none;
}

#consentBox img {
    max-width: 90px;
}

#consentHeader {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
